<div class="row <%= 'current_week' if week.current_week? %><%= 'past_week' if week.past_week? %>">
  <% if week.past_week? || week.current_week? %>
    <div class="toggle col-md-1" data-toggle="collapse" data-target="#detail-<%= week.number %>">
      <div style="height:100px;cursor:pointer;" id='week-label-<%= week.id %>'>
        <div>Week <%= week.number %>:</div>
        <div id='expand-<%= week.id %>' style="display:none;font-size:.7em">(Expand)</div>
        <div id="collapse-<%= week.id %>" style="display:none;font-size:.7em">(Collapse)</div>
      </div><!-- Figure out how to set height equal to parent's height (prob need to use jquery .height()) -->
    </div>
  <% else %>
    <div class="col-md-1">Week <%= week.number %>:</div>
  <% end %>
  <div class="col-md-11 small-steps-for-week">
    <div id="detail-<%= week.number %>" class="collapse <%= 'in' if week.current_week? or week.future_week? %>">
      <%= render week.small_steps.order('name'), week: week %>
      <%= link_to "<span id='new-step-btn-#{week.id}' class='btn-plus'></span> <span id='plus-button-tooltip-#{week.id}' class='plus-button-tooltip' style='display:none;'>Add a new step in Week #{week.number}</span>".html_safe, "#", class: 'new-small-step-link' unless week.past_week? %>
      <div class="small-step">
        <div class="form">
          <%= render partial: 'small_steps/form', locals: { week: week, small_step: SmallStep.new(program: @program) } %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <%= render 'check_ins/list', collection: week.check_ins, week: week unless week.future_week? %>
    </div>
  </div>
</div>

<script>
// New step button tooltip
$(document).ready(function() {
  $('#new-step-btn-<%= week.id %>').hover(function() {
    // alert('<%= week.id %>');
    $('#plus-button-tooltip-<%= week.id %>').toggle();
  });
});

// Expand/collapse week tooltip
$(document).ready(function() {
  $('#week-label-<%= week.id %>').hover(function() {
    $('#expand-<%= week.id %>').toggle();
  });
  $('#week-label-<%= week.id %>').click(function() {
    $('#expand-<%= week.id %>').toggle();
    $('#collapse-<%= week.id %>').toggle();
    $('#week-label-<%= week.id %>').hover(function() {
      $('#collapse-<%= week.id %>').toggle();
      $('#expand-<%= week.id %>').toggle();
    });
  });
});
</script>