<div class="row">
  <div class="col-md-12">
    Week <%= week.number %>:
  </div>
  <div class="col-md-12 small-steps-for-week">
    <%= render week.small_steps.order('name'), week: week %>

    <%= link_to "<span class='btn-plus'></span>".html_safe, "#", class: 'new-small-step-link' %>

    <div class="small-step">
      <div class="form">
        <%= render partial: 'small_steps/form', locals: { week: week, small_step: SmallStep.new(program: @program) } %>
      </div>
    </div>
    <%= render 'check_ins/list', collection: week.check_ins, week: week %>
  </div>
</div>
