<div class="row <%= 'current_week' if week.current_week? %><%= 'past_week' if week.past_week? %>">
  <div class="col-md-1">
    Week <%= week.number %>:
  </div>
  <div class="col-md-11 small-steps-for-week">
    <div id="detail-<%= week.number %>" class="collapse <%= 'in' if week.current_week? or week.future_week? %>">
      <%= render week.small_steps.order('name'), week: week %>
      <%= link_to "<span id='new-step-btn-#{week.id}' class='btn-plus'></span> <span id='plus-button-tooltip-#{week.id}' class='plus-button-tooltip'>Add a new step in week #{week.number}</span>".html_safe, "#", class: 'new-small-step-link' unless week.past_week? %>
      <div class="small-step">
        <div class="form">
          <%= render partial: 'small_steps/form', locals: { week: week, small_step: SmallStep.new(program: @program) } %>
        </div>
      </div>
    </div>
    <div class="toggle col-md-12" data-toggle="collapse" data-target="#detail-<%= week.number %>">
      <%= render 'check_ins/list', collection: week.check_ins, week: week unless week.future_week? %>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  // $('.btn-plus')
  $('#new-step-btn-<%= week.id %>')
    .hover(function() {
      // alert('<%= week.id %>');
      $('#plus-button-tooltip-<%= week.id %>').toggle();
      });
});
</script>