<tr>
  <td><%= reminder.frequency_output %></td>
  <!-- <td><%= reminder.send_at.in_time_zone(reminder.user.timezone).strftime("%B %e, %Y") %></td>
  <td><%= reminder.send_at.in_time_zone(reminder.user.timezone).strftime("%l:%M %p") %></td> -->
  <td><%= reminder.send_at.strftime("%B %e, %Y") %></td>
  <td><%= reminder.send_at.strftime("%l:%M %p") %></td>
  <td><%= reminder.body %></td>
  <td><%= link_to "<span class='glyphicon glyphicon-remove-circle'></span>".html_safe, reminder_path(reminder), data: { confirm: "Are you sure?" }, method: :delete, class: 'small-step-delete-link' %></td>
</tr>
