<div class="nested-fields small-step-fields">
  <%= f.hidden_field :program_id, value: @program.id %>
  <%= f.input_field :name %>
  towards
  <%= f.input_field :big_step_id, as: :select, collection: BigStep.where(program_id: @program.id).order(:name) , default: nil%>
  done
  <%= f.input_field :frequency, class: 'small-step-frequency', as: :select, collection: SmallStep::FREQUENCIES, default: nil %>

  <%= link_to_remove_association "<span class='glyphicon glyphicon-minus-sign'></span>".html_safe, f %>

  <div class="extra-fields">
    <div class="times-per-week">
      <p>How many times per week?</p>
      <%= f.input_field :times_per_week, as: :select, collection: 1..7, default: nil %>
    </div>
    <div class="specifc-days-per-week">
      <p>Which days of the week?</p>
      <%= f.input_field :sunday %> Sunday
      <%= f.input_field :monday %> Monday
      <%= f.input_field :tuesday %> Tuesday
      <%= f.input_field :wednesday %> Wednesday
      <%= f.input_field :thursday %> Thursday
      <%= f.input_field :friday %> Friday
      <%= f.input_field :saturday %> Saturday
    </div>
  </div>
</div>
