<div class="container">
  <div class="well">
    <div class="row">
      <% if current_coach %>
      <div class="col-md-9">
        <h1>Active Clients (<%= @programs.size %>)</h1>
      </div>
      <div class="col-md-3">
         <%= link_to 'Back to Dashboard', coach_path(current_coach), class: 'btn btn-primary add-patient' %>
      </div>
      <% elsif current_admin %>
        <div class="col-md-12">
          <h1>Active Clients (<%= @programs.size %>)</h1>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <% if @programs.present? %>
          <table class="table table-striped table-hover">
            <thead>
              <% if current_coach %>
                <tr>
                  <th>Created</th>
                  <th>Client</th>
                  <th>Purpose</th>
                  <th></th>
                </tr>
              <% elsif current_admin %>
                <tr>
                  <th>Practice</th>
                  <th>Coach(es)</th>
                  <th>Client</th>
                  <th class="center">Start Date</th>
                  <th class="center">Wks</th>
                  <th class="center">Stps till</th>
                  <th class="center">CIs</th>
                  <th>Alert</th>
                  <th class="center">? Strk</th>
                  <th></th>
                </tr>
              <% end %>
            </thead>

            <tbody>
              <% if current_coach %>
                <% @programs.each do |program| %>
                  <tr>
                    <td><%= program.created_at.strftime("%m/%d/%y") %></td>
                    <td><%= link_to program.user.full_name, program_path(program) %></td>
                    <td><%= program.purpose %></td>
                    <td>
                      <!-- <%= link_to 'edit', edit_program_path(program) %> | -->
                      <%= link_to 'delete', program, data: { confirm: "Are you sure?" }, method: :delete %>
                    </td>
                  </tr>
                <% end %>
              <% elsif current_admin %>
                <% Practice.all.order(created_at: :desc).each do |practice| %>
                  <% practice.programs.uniq.each do |program| %>
                    <% 
                      coaches = []
                      program.coaches.each { |c| coaches << c.full_name } 
                    %>
                    <tr>
                      <td><%= link_to truncate(practice.name, length: 11), "#", title: practice.name, class: "plain" %></td>
                      <% if coaches.count > 1 %>
                        <td><%= link_to truncate("(#{coaches.count}) #{coaches.join(', ')}", length: 15), "#", title: coaches.join(", "), class: "plain" %></td>
                      <% else %>
                        <td><%= link_to truncate(coaches.join(", "), length: 11), "#", title: coaches.join(", "), style: "color:#939598;" %></td>
                      <% end %>
                      <td><%= link_to truncate(program.user.full_name, length: 11), "#", title: "#{program.user.full_name} (#{program.user.email})", class: "plain" %></td>
                      <td class="center"><%= program.start_date.strftime("%m/%d/%y") if program.start_date %></td>
                      <td class="center"><%= program.weeks.count %></td>
                      <td class="center"><%= program.weeks.last.end_date.strftime("%m/%d/%y") if program.weeks.any? %></td>
                      <td class="center"><%= program.check_ins.count %></td>
                      <td><%= "Alert" if program.activity_status == Program::ACTIVITY_STATUSES[:alert] %></td>
                      <td class="center"><%= program.misses_streak if program.misses_streak %></td>
                      <td><%= link_to 'view', program_path(program) %></td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>

          <%#= paginate @users %>
        <% else %>
          <br/>
          <p>No programs have been created yet.</p>
          <br/>
        <% end %>
      </div>
    </div>
  </div>
</div>

