<div class="container">
  <!-- <div class="row">
    <div class="col-md-12 center">
      <h3 class="middle">Add a New Client</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 center">
      <ol class="breadcrumb">
        <li class="active"></li>
        <li></li>
        <li></li>
        <li></li>
      </ol>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-12">
      <div class="well create">
        <h3 class="center">Add a New Client</h3><br>
        <%= simple_form_for @program, html: { class: "form-vertical new-program" } do |f| %>
          <%= f.fields_for :user do |f| %>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :full_name, label: false, placeholder: 'Name' %>
            </div>

          </div>
            <%= f.input :email, label: false, placeholder: 'Email Address', type: 'email' %>
            
          <% end %>
          <%= f.input :purpose, label: "I am here to...", as: :text, placeholder: 'Do what?' %>
          <%= f.input :goal, label: "So I can...", as: :text, placeholder: 'What will sticking to the plan enable you to do?' %>
          <div class="clearfix"></div>
        <div class="row">
          <div class="pull-right">
          <%= f.submit 'Add Client', class: 'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
