<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="pull-right">
        <%= image_tag(@program.user.avatar.large.url) %>
      </div>
    </div>
    <div class="col-md-5">
      <h2><%= @program.user.full_name %></h2>
      <p>I am here to <%= @program.purpose.downcase %> so I can <%= @program.goal.downcase %>.</p>
      <hr/>
    </div>
    <div class="col-md-3">
         <%= link_to 'Back to Dashboard', coach_path(@program.coach_id), class: 'btn btn-primary add-patient' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline view">
        <li>View:</li>
        <li class="<%= 'active' if @active == 'steps' %>"><a href="#steps" data-toggle="tab">Steps</a></li>
        <li class="<%= 'active' if @active == 'advanced-settings' %>"><a href="#advanced-settings" data-toggle="tab">Advanced Settings</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 tab-content">

      <!-- this area needs to be scrollable -->

      <div class="tab-pane scrollable <%= 'active' if @active == 'steps' %>" id="steps">

        <div class="modal" id="small-step-notes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="myModalLabel">Add Details</h2>
              </div>
              <div class="modal-body">
              </div>
            </div>
          </div>
        </div>

        <%= render @weeks %>

        <% if @weeks.count == 0 %>
          <%= simple_form_for @program, url: url_for(:action => 'update_small_steps', :controller => 'programs'), html: { class: "form-vertical" } do |f| %>

            <div class="row start-date">
              <div class="col-md-12">
                <p>When do I start?</p>
                <label class="glyphicon glyphicon-calendar"></label>
                <%= f.input :start_date, as: :string, input_html: { class: "datepicker" }, label: false %>
              </div>
            </div>

            <div id="program-weeks">
              <p>What small step(s) should I focus on in my first week?</p>
              <%= f.simple_fields_for :weeks do |week| %>
                <%= render 'week_fields', f: week %>
              <% end %>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div>
                  <%= f.submit "Save", class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="new-week">
            <%= link_to "<span class='btn-plus'></span>".html_safe, weeks_path(program_id: @program.id), method: :post %>
          </div>
        <% end %>
      </div>


      <div class="tab-pane <%= 'active' if @active == 'advanced-settings' %>" id="advanced-settings">
        <div class="well">
          <h2><%= "#{@coach.name}'s Alerts" %></h2>
          <% if @alerts.present? %>
          <%= render @alerts %>
          <% end %>

          <div class="alerts">
            <div class="form">
              <%= render partial: 'alerts/form', locals: { alert: Alert.new(program: @program) } %>
            </div>
          </div>
          <div class="clearfix"></div>

          <%= link_to "<span class='btn-plus'></span>".html_safe, "#", class: 'new-alert-link' %>
        </div>

        <div class="well">
          <h2><%= "#{@program.user.first_name}'s Reminders" %></h2>
          <% if @reminders.present? %>
          <table>
            <thead>
              <tr>
                <th>Frequency</th>
                <th>Date/Starting</th>
                <th>Time</th>
                <th>Message</th>
                <th></th>
              </tr>
            </thead>
            <%= render @reminders %>
          </table>
          <% end %>

          <div class="reminder">
            <div class="form" style="margin-bottom:30px;">
              <%= render partial: 'reminders/form', locals: { reminder: Reminder.new(program: @program) } %>
            </div>
          </div>
          <div class="clearfix"></div>
          <%= link_to "<span class='btn-plus'></span>".html_safe, "#", class: 'new-reminder-link' %>
        </div>

        <% if false # Currently not in use, but may be in the future %>
        <div class="well">
          <h2>Accountability Tools</h2>
          <%= render @supporters %>
          <%= link_to "<span class='btn-plus'></span>".html_safe, new_supporter_path(program_id: @program.id) %>
        </div>

        <div class="well">
          <h2>To Dos</h2>
          <%= render @todos %>
          <%= link_to "<span class='btn-plus'></span>".html_safe, new_todo_path(program_id: @program.id) %>
        </div>
      </div>
      <% end %>

      <!-- end scrollable area -->

    </div>
  </div>
</div>
