<div class="container">
  <div class="row">
    <div class="col-md-2">
      Avatar
    </div>
    <div class="col-md-10">
      <%= @program.user.full_name %><br/>
      <%= @program.purpose %>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render @alerts %>
      <%= link_to 'Create a new alert', new_alert_path(program_id: @program.id) %>

      <hr/>
      <%= render @reminders %>
      <%= link_to 'Create a new reminder', new_reminder_path(program_id: @program.id) %>

      <hr/>
      <%= render @supporters %>
      <%= link_to 'Create a new supporter', new_supporter_path(program_id: @program.id) %>

      <hr/>
      <%= render @todos %>
      <%= link_to 'Create a new to-do', new_todo_path(program_id: @program.id) %>

    </div>
  </div>
</div>
