<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="pull-right">
        <%= image_tag(@program.user.avatar.large.url) %>
      </div>
    </div>
    <div class="col-md-8">
      <h2><%= @program.user.full_name %></h2>
      <p><%= @program.purpose %></p>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul class="list-inline view">
        <li>View:</li>
        <li class="active"><a href="#steps" data-toggle="tab">Steps</a></li>
        <li><a href="#advanced-settings" data-toggle="tab">Advanced Settings</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 tab-content">

      <!-- this area needs to be scrollable -->

      <div class="tab-pane active" id="steps">
        
        <%= render @weeks %>

        <div class="new-week">
          <%= link_to "<span class='btn-plus'></span>".html_safe, weeks_path(program_id: @program.id), method: :post %>
        </div>
      </div>


      <div class="tab-pane" id="advanced-settings">
        <div class="well">
          <h2>My Alerts</h2>
          <%= render @alerts %>
          <%= link_to "<span class='btn-plus'></span>".html_safe, new_alert_path(program_id: @program.id) %>
        </div>

        <div class="well">
          <h2>User Reminders</h2>
          <%= render @reminders %>
          <%= link_to "<span class='btn-plus'></span>".html_safe, new_reminder_path(program_id: @program.id) %>
        </div>

        <div class="well">
          <h2>Accountability Tools</h2>
          <%= render @supporters %>
          <%= link_to "<span class='btn-plus'></span>".html_safe, new_supporter_path(program_id: @program.id) %>
        </div>

        <div class="well">
          <h2>To Dos</h2>
          <%= render @todos %>
          <%= link_to "<span class='btn-plus'></span>".html_safe, new_todo_path(program_id: @program.id) %>
        </div>
      </div>

      <!-- end scrollable area -->

    </div>
  </div>
</div>
