<%= simple_form_for @user, html: { class: "form-vertical" } do |f| %>
  <%= f.input :email, label: false, placeholder: 'Email', type: 'email' %>
  <%= f.input :first_name, label: false, placeholder: 'First name' %>
  <%= f.input :last_name, label: false, placeholder: 'Last name' %>
  <%= f.input :email, label: false, placeholder: 'Email', type: 'email' %>
  <%= f.input :gender, as: :select, collection: User::GENDERS, label: false, placeholder: 'Gender' %>
  <%= f.input :status, as: :select, collection: User::STATUSES, label: false, placeholder: 'Status' %>
  <%= f.input :password, label: false, placeholder: 'Password', type: 'password' %>
  <%= f.input :password_confirmation, label: false, placeholder: 'Password confirmation', type: 'password' %>

  <label>Avatar</label>
  <%= f.file_field :avatar %>


  <% if @user.avatar.present? %>
    <br/>
    <%= image_tag(@user.avatar.small.url) if @user.avatar? %>

    <label>
      <%= f.check_box :remove_avatar %> Remove avatar
    </label>
  <% end %>
  <p class="clear"></p><br/>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
