<%= simple_form_for @user, html: { class: "form-vertical" } do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :gender, as: :select, collection: User::GENDERS %>
  <%= f.input :status, as: :select, collection: User::STATUSES %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <label>Avatar</label>
  <%= f.file_field :avatar %>


  <% if @user.avatar.present? %>
    <br/>
    <%= image_tag(@user.avatar.small.url) if @user.avatar? %>

    <label>
      <%= f.check_box :remove_avatar %> Remove avatar
    </label>
  <% end %>
  <p class="clear"></p><br/>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>
