<% 
  start_date = week.start_date.beginning_of_week(:sunday)
  end_date = week.end_date.end_of_week(:sunday)
%>
<% (start_date..end_date).each do |day| %>
  <%
    day_steps_list = ""
    week.small_steps.each { |s| day_steps_list << "<li>#{s.big_step.name}: #{s.name}</li>" if s.can_check_in_on_date(day) }
  %>
  <div class="check-in-wrap">
    <% if week.has_check_in_for_day(day) %>
      <%
        checkin = week.find_check_in_for_day(day) 
        status = checkin.status
        checkin.comments == "" ? comments = "" : comments = "Comments: #{checkin.comments}"
        day_steps_list = ""
        week.small_steps.each { |s| day_steps_list << "<li>[#{if checkin.activities.find_by(small_step_id: s.id) == nil then "?" else checkin.activities.find_by(small_step_id: s.id).symbol end}] #{s.big_step.name}: #{s.name}</li>" if s.can_check_in_on_date(day) }
      %>
      <!-- <div class="check-in status-<%=status%>"></div> -->
      <%= link_to "", "#", class: "check-in status-#{status} checkpop", "data-toggle" => "popover" %>
    <% elsif week.can_check_in_on_day(day) == false # check for days off (no steps) %>
      <div class="check-in status-<%=CheckIn::STATUSES[:future]%>"></div>
    <% elsif day + 1 < DateTime.now.in_time_zone(@program.user.timezone).to_date && day >= @program.start_date # Minus 1 to account for 48 hour check in window %>
      <div class="check-in status-<%=CheckIn::STATUSES[:none]%>"></div>
    <% else %>
      <div class="check-in status-<%=CheckIn::STATUSES[:future]%>"></div>
    <% end %>
    <div class="day-names"><%= day.strftime("%a, %b %e") %></div>
  </div>

  <script type="text/javascript">
    $('[data-toggle="popover"]').popover({
      trigger: 'hover',
      'placement': "<%= week.current_week? ? 'top' : 'bottom' %>",
      html: true,
      title: "<%= day.strftime('%a, %b %e') %>",
      content: "<div><ul class=\'step-list\'><%= day_steps_list.html_safe %></ul><div><%= comments if comments != '' %></div></div>",
      template: '<div class="popover daypop"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>',
    });
  </script>
<% end %>

<style type="text/css">
  .popover-content {
    font-size: 0.75em;
  }
  .step-list {
    padding-left: 20px;
  }
  .daypop {
    width:325px;
    max-width:325px;
  }
</style>