<div class="container">
  <div class="well">
    <div class="col-md-12">
      <h2>Practice Administration</h2>
      <li><%= link_to 'Manage Coaches', coaches_path %></li>
      <li><%= link_to 'Manage Programs', programs_path %></li>
      <li><%= link_to 'Manage Excuses', excuses_path %></li>
      <li><%= link_to 'Manage Patients', users_path %></li>
      <li><%= link_to 'Manage Billing', '#TODO' %></li>
    </div>
  </div>
</div>
