<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-4">
      <h2>Your Clients</h2>
    </div>
    <div class="col-md-7 col-sm-8">
      <div class="col-md-7 col-sm-6">
        <ul class="list-inline view">
          <li>View:</li>
          <li class="<%= 'active' if @active == 'active' %>"><%= link_to 'Active', coach_path(filter: 'active') %></li>
          <li class="<%= 'active' if @active == 'all' %>"><%= link_to 'All', coach_path(filter: 'all') %></li>
          <li class="<%= 'active' if @active == 'alerts' %>"><%= link_to 'Alerts', coach_path(filter: 'alerts') %></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-6">
        <%= link_to 'Add a New Client', new_program_path, class: 'btn btn-primary add-patient' %>
      </div>
    </div>
  </div>
  <div class="row">
    <% if @programs.present? %>
      <%= render @programs %>
    <% elsif params[:filter] && params[:filter] != 'all' %>
      <p>You have no <%= params[:filter] %> clients</p>
    <% else %>
      <%= link_to 'Add your first client', new_program_path %>
    <% end %>
  </div>
</div>
