<% submit_btn_label = small_step.new_record? ? "Add" : "Update" %>



<%= simple_form_for small_step, html: { class: "form-vertical" } do |f| %>
  <%= f.hidden_field :program_id, value: @program.id %>
  <% if small_step.new_record? %>
    <input type="hidden" name="week_id" value="<%= week.id %>">
  <% end %>
  <%= f.input_field :name, as: :string, collection: @program.small_steps, class: 'small_step_name' %> towards
  <%= f.input_field :big_step_id, as: :select, collection: small_step.program.big_steps, default: nil %>
  done
  <%= f.input_field :frequency, class: 'small-step-frequency', as: :select, collection: SmallStep::FREQUENCIES, default: nil %>

  <%= f.submit submit_btn_label, class: 'btn btn-default' %>

  <%= link_to 'Cancel', '#', class: 'btn btn-default small-step-cancel-button' %>

  <div class="extra-fields">
    <div class="times-per-week">
      <p>How many times per week?</p>
      <%= f.input_field :times_per_week, as: :select, collection: 1..7, default: nil %>
    </div>
    <div class="specifc-days-per-week">
      <p>Which days of the week?</p>
      <%= f.input_field :sunday %> Sunday
      <%= f.input_field :monday %> Monday
      <%= f.input_field :tuesday %> Tuesday
      <%= f.input_field :wednesday %> Wednesday
      <%= f.input_field :thursday %> Thursday
      <%= f.input_field :friday %> Friday
      <%= f.input_field :saturday %> Saturday
    </div>
  </div>
<% end %>

<script>
$(".small_step_name").select2({
createSearchChoice:function(term, data) { if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {return {id:term, text:term};} },
multiple: false,
data: <%= raw(@program.small_steps.to_json) %>
});
</script>
