<div class="small-step">
  <div class="display">
    <div class="big-step-name"><%= small_step.big_step.name %></div>
    <div class="colon">:</div>
    <div class="small-step-name"><%= small_step.name %></div>
    <div class="frequency"><%= display_frequency(small_step) %></div>
    <% if small_step.attachments.any? || small_step.note.present? %>
      <div class="attachments">
        <%= link_to "<span class='glyphicon glyphicon-paperclip'></span>".html_safe, small_step_note_index_path(small_step, week_id: week), remote: true, class: 'small-step-uploads-link', data: { toggle: 'modal', target: '#small-step-notes'} %>
      </div>
    <% else %>
      <% unless week.past_week? %>
      <div class="links">
        <%= link_to "<span class='glyphicon glyphicon-paperclip'></span>".html_safe, small_step_note_index_path(small_step, week_id: week), remote: true, class: 'small-step-uploads-link', data: { toggle: 'modal', target: '#small-step-notes'} %>
      </div>
      <% end %>
    <% end %>
    <div class="links">
      <% unless week.past_week? %>

      <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, edit_small_step_path(small_step, program_id: @program.id, week_id: week.id), remote: true, class: 'small-step-edit-link' %>

      <%= link_to "<span class='glyphicon glyphicon-remove-circle'></span>".html_safe, small_step_path(small_step, program_id: @program.id, week_id: week.id), data: { confirm: "Are you sure?" }, method: :delete, class: 'small-step-delete-link' %>

      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form">
    <div id="week-<%= week.number %>-small-step-<%= small_step.id %>">
    </div>
  </div>
</div>

<% if small_step.attachments.any? || small_step.note.present? %>
<script type="text/javascript">
  $(document).ready(function() {
    $('.display').find('.attachments').css('display', 'inline-block');
  });
</script>
<% end %>