<div class="small-step">
  <div class="display">
    <div class="big-step-name"><%= small_step.big_step.name %></div>
    <div class="colon">:</div>
    <div class="small-step-name"><%= small_step.name %></div>
    <div class="frequency"><%= display_frequency(small_step) %></div>
    <div class="links">
      <%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, "#", class: 'small-step-edit-link' %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form">
    <%= render partial: 'small_steps/form', locals: { small_step: small_step, week: week } %>
    <script>displayFrequencyFields($(".small-step-frequency").last());</script>
  </div>
</div>
