<!DOCTYPE html>
<html>
<head>
  <title>Steps | By Right Side Health</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'icons/touch-icon-iphone.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag 'icons/touch-icon-ipad.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76' %>
  <%= favicon_link_tag 'icons/touch-icon-iphone-retina.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120' %>
  <%= favicon_link_tag 'icons/touch-icon-ipad-retina.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152' %>
  <%= favicon_link_tag 'icons/favicon.ico', rel: 'shortcut icon' %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v2/", "application", "data-turbolinks-track" => true %>
  <script src="//use.typekit.net/wfv3edg.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <%= tag :meta, :name => "stripe-key", :content => ENV['STRIPE_PUBLIC_KEY'] %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Fixed navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag('Steps-Logo.png', style: "height:56px;width:56px;"), root_path, class: 'logo' %>

        <div class="welcome">
          <div class="top">
            <% if current_coach %>
              <h4>Welcome, <%= current_coach.name %></h4>
            <% else %>
              <h4>Welcome</h4>
            <% end %>
          </div>
          <div class="bottom">
            <p>
              <% if current_coach %>
                <%= link_to 'Sign out', destroy_coach_session_path, method: :delete %>
              <% elsif current_admin %>
                <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
              <% else %>
                <%= link_to 'Sign in', new_coach_session_path %></li>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% if current_coach %>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <% if can? :manage,  current_practice %>
            <li class="<%= 'active' if params[:controller] == 'practice' %>"><%= link_to 'Admin', practice_path(current_practice) %></li>
          <% end %>
          <!--<% if current_coach %>
            <li><%= link_to 'Get Steps for free!', new_referral_path %></li>
          <% end %>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if current_coach.present? %>
            <%= form_tag coach_path(current_coach), :method => :get, :class => "navbar-form navbar-right", role: "search" do %>
              <div class="form-group">
                <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "find a client" %>
              </div>
              <button type="submit" class="btn btn-primary glyphicon glyphicon-search"></button>
            <% end %>
            <% end %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
      <% end %>
    </div>
  </div>

  <%= render '/common/notification' %>

  <%= yield %>

</body>
</html>
